
.card{
    width: 300px;
}
.movies-items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tabs{
    padding: 20px;
    display: flex;
    justify-content: center;
}
.movie-item{
    width: 340px;
    height: 340px;
}